.mule/apps/z-1c/z-1c.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="z-1c-httpListenerConfig" host="localhost" port="8084" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="z-1c-config" raml="z-1c.raml" consoleEnabled="false" doc:name="Router"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="usecase" doc:name="MySQL Configuration"/>
    <flow name="z-1c-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="z-1c-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="z-1c-config" doc:name="APIkit Router"/>
        <exception-strategy ref="z-1c-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="z-1c-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="z-1c-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="z-1c-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/socialone:z-1c-config">
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from social where `phone` = #[message.inboundProperties.'http.query.params'.phone]]]></db:parameterized-query>
		</db:select>
		<json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    <flow name="post:/socialall:z-1c-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;phone&quot;:&quot;12345&quot;,&#xA;    &quot;email&quot;:&quot;test@gmail.com&quot;,&#xA;    &quot;pan&quot;:&quot;1000&quot;,&#xA;    &quot;aadhar&quot;:&quot;123412341234&quot;&#xA;  },&#xA;  {&#xA;    &quot;phone&quot;:&quot;678910&quot;,&#xA;    &quot;email&quot;:&quot;test1@gmail.com&quot;,&#xA;    &quot;pan&quot;:&quot;1025&quot;,&#xA;    &quot;aadhar&quot;:&quot;456745674567&quot;&#xA;  },&#xA;  {&#xA;    &quot;phone&quot;:&quot;125&quot;,&#xA;    &quot;email&quot;:&quot;test2@gmail.com&quot;,&#xA;    &quot;pan&quot;:&quot;1013&quot;,&#xA;    &quot;aadhar&quot;:&quot;789478947894&quot;&#xA;  },&#xA;  {&#xA;    &quot;phone&quot;:&quot;345&quot;,&#xA;    &quot;email&quot;:&quot;test3@gmail.com&quot;,&#xA;    &quot;pan&quot;:&quot;1545&quot;,&#xA;    &quot;aadhar&quot;:&quot;154515451545&quot;&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="z-1c-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
